<a href="https://colab.research.google.com/github/moonbeam87/Stonks/blob/master/ProphetAlphaVantage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
df = pd.read_csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey=demo&datatype=csv&outputsize=full')

NameError: ignored

In [0]:
import pandas as pd

In [3]:
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
from fbprophet import Prophet
import numpy as np

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [0]:
df = pd.read_csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey=WCXVE7BAD668SJHL&datatype=csv&outputsize=full')

In [5]:
df.head()

                                                                                                    {
    "Information": "The **demo** API key is for...   and we are committed to making it free forever."
}                                                                                                 NaN

In [0]:
df = pd.read_csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey=WCXVE7BAD668SJHL&datatype=csv&outputsize=full')

In [7]:
df.head()

    timestamp    open      high     low    close   volume
0  2020-04-17  119.30  120.3900  117.92  118.935  1657445
1  2020-04-16  119.01  119.7500  114.42  115.730  6202655
2  2020-04-15  119.12  120.1852  116.76  118.690  5632156
3  2020-04-14  123.46  125.1800  122.62  123.910  5087292
4  2020-04-13  121.63  121.8000  118.04  121.150  5118777